<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../assets/demo/demo.css" rel="stylesheet" />



<div class="content">
	<div class="container-fluid">
		<h4>Select Location: </h4>
		<div class="row">
			<div class="col-md-6">
				
				<!-- <select (change)="selectChangeHandler($event)" class="custom-select">
					<option value="">Select Location</option>
					<option value="Wauchula">Wauchula</option>
					<option value="Palmetto">Palmetto</option>
					<option value="Bradenton">Bradenton</option>
					<option value="Apollo Beach">Apollo Beach</option>
					<option value="New Port Beach">New Port Beach</option>
					<option value="New Port Richey">New Port Richey</option>
					<option value="Lake Jackson">Lake Jackson</option>
					<option value="West Bradenton">West Bradenton</option>
				</select> -->
				<select (change)="selectChangeHandler($event)" class="custom-select">
					<option value="">Select Location</option>
					<option *ngFor="let new of totalLocation">{{new.location}}</option>
				</select>
			</div>
			<div class="col-md-6">
				<!-- <button type="submit" class="btn filterBtn btn-primary" routerLink="/showDetailPrice/{{new.location}}">Filter</button>
				-->			</div>
			</div>

			<h4 style="margin-top: 40px; font-weight: bolder;">Results for:- {{selectedLocation}}</h4>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<div class="row">
								<div class="col-md-6">
									<h4 class="card-title ">Price Check Requests</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th style="display: none;">
											Id
										</th>
										<th>
											Name
										</th>
										<th>
											Phone
										</th>
										<th>
											Email
										</th>
										<th>
											Location
										</th>
										<th>
											Details
										</th>
									</thead>
									<tbody *ngIf="usersPriceCheck">
										<tr *ngFor="let user of usersPriceCheck | filterBy: userFilter">
											<td style="display: none;">
												{{user.pc_id}}
											</td>
											<td>
												{{user.name}}
											</td>
											<td>
												{{user.phone}}
											</td>
											<td>
												{{user.email}}
											</td>
											<td>
												{{user.location}}
											</td>
											<td class="text-primary">
												<a routerLink="/showDetailPrice/{{user.pc_id}}">View Details</a>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="!usersPriceCheck">
										<div class="col-md-12">
											<h5>No Data</h5>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<div class="row">
								<div class="col-md-6">
									<h4 class="card-title ">Transfer Prescription Requests</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th style="display: none;"  >
											Id
										</th>
										<th>
											Name
										</th>
										<th>
											Phone
										</th>
										<th>
											Email
										</th>
										<th>
											Location
										</th>
										<th>
											Details
										</th>
									</thead>
									<tbody>
										<tr *ngFor="let user of usersTransferRequest">
											<td style="display: none;">
												{{user.tp_id}}
											</td>
											<td>
												{{user.name}}
											</td>
											<td>
												{{user.phone}}
											</td>
											<td>
												{{user.email}}
											</td>
											<td>
												{{user.location}}
											</td>
											<td class="text-primary">
												<a routerLink="/showDetailTransfer/{{user.tp_id}}">View Details</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<div class="row">
								<div class="col-md-6">
									<h4 class="card-title ">Refill Prescription Requests</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th style="display: none;"  >
											Id
										</th>
										<th>
											Name
										</th>
										<th>
											Phone
										</th>
										<th>
											Email
										</th>
										<th>
											Location
										</th>
										<th>
											Details
										</th>
									</thead>
									<tbody>
										<tr *ngFor="let user of usersRefillRequest">
											<td style="display: none;">
												{{user.refill_id}}
											</td>
											<td>
												{{user.name}}
											</td>
											<td>
												{{user.phone}}
											</td>
											<td>
												{{user.email}}
											</td>
											<td>
												{{user.location}}
											</td>
											<td class="text-primary">
												<a routerLink="/showDetailRefill/{{user.refill_id}}">View Details</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

