@media (max-width: 991px){
	.sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: white;
		display: block;
		content: "";
		z-index: 1;
	}
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #992AA8 !important;
    color: #fefefe;
    cursor: default;
}