
<div class="container-fluid">
  <a class="navbar-brand" routerLink='/dashboard'><h3 style="font-weight: bolder;">My Eckerds Dashboard</h3></a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">rotate_left</i>
          </div>
          <p class="card-category">Refilling Request</p>
          <h3 class="card-title">{{ countRefillingRequest(null) }}
          </h3>
          <p class="card-category">Unpublished: {{unpublishedRefill}}</p> 
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="" routerLink="/refill">View Details</a>  
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">import_export</i>
          </div>
          <p class="card-category">Transfer Request</p>
          <h3 class="card-title">{{ countTransferRequest(null) }}</h3>
          <p class="card-category">Unpublished: {{unpublishedTransfer}}</p>          
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="" routerLink="/transfer">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="fas fa-money-check-alt"></i>
          </div>
          <p class="card-category">Price Check Request</p>
          <h3 class="card-title">{{ countPriceRequest(null) }}</h3>
          <p class="card-category">Unpublished: {{unpublishedPrice}}</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="" routerLink="/price">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>