<div class="container-fluid">

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
		Add Location
	</button>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add Location</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form ngNativeValidate (ngSubmit)="addLocation(newLocation)" #form="ngForm">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-plus-square" aria-hidden="true"> </i>
										Pharmacy Name
									</label>
									<input type="text" class="form-control" name="pharmacyName" [(ngModel)]="newLocation.pharmacyName" id="pharmacyName" required="required">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-phone-square" aria-hidden="true"></i>
										Cell Phone Number
									</label>
									<input type="text" class="form-control" name="phone" [(ngModel)]="newLocation.phone" id="phone" required="required">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-fax" aria-hidden="true"></i>
										Fax Number
									</label>
									<input type="text" class="form-control" name="fax" [(ngModel)]="newLocation.fax" id="fax" required="required">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fas fa-phone-volume"></i>
										Toll Free
									</label>
									<input type="text" class="form-control" name="tollfree" [(ngModel)]="newLocation.tollfree" id="tollfree" required="required">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-envelope" aria-hidden="true"></i>
										Email
									</label>
									<input type="email" class="form-control" name="email" [(ngModel)]="newLocation.email" id="email" required="required">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-location-arrow" aria-hidden="true"></i>
										Address Line 1
									</label>
									<input type="text" class="form-control" name="addressOne" [(ngModel)]="newLocation.addressOne" id="addressOne" required="required">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-location-arrow" aria-hidden="true"></i>
										Address Line 2(Optional)
									</label>
									<input type="text" class="form-control" name="addressTwo" [(ngModel)]="newLocation.addressTwo" id="addressTwo">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-compass" aria-hidden="true"></i>
										City
									</label>
									<input type="text" class="form-control" name="city" [(ngModel)]="newLocation.city" id="city" required="required">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-globe" aria-hidden="true"></i>
										State
									</label>
									<input type="text" class="form-control" name="state" [(ngModel)]="newLocation.state" id="state" required="required">
								</div>
							</div>


							<div class="col-md-4">
								<div class="form-group">
									<label class="bmd-label-floating"><i class="fa fa-thumb-tack" aria-hidden="true"></i>
										PinCode
									</label>
									<input type="text" class="form-control" name="pincode" [(ngModel)]="newLocation.pincode" id="pincode" required="required">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4" *ngFor="let location of allLocation">
			<div class="card">
				<div class="card-header card-header-success">
					<h4 class="card-title"><i class="fas fa-briefcase-medical"> </i> {{location.city}}</h4>
				</div>
				<div class="card-body">
					<div class="upperDiv">
						<p style="display: none;">{{location.location_id}}</p>
						<p id="headinMain">{{location.pharmacyName}}</p>
						<p>{{location.addressOne}}</p>
						<p *ngIf="location.addressTwo">{{location.addressOne}}</p>
						<p>{{location.city}} {{location.state}} {{location.pincode}} </p>	
					</div>

					<div class="lowerDiv">
						<p><i class="fa fa-phone"></i>  Phone : {{location.phone}} </p>
						<p><i class="fa fa-fax"></i>  Fax : {{location.fax}} </p>
						<p *ngIf="location.tollFreeNumber"><i class="fa fa-mobile"></i>  Toll Free : {{location.tollFreeNumber}} </p>
						<p><i class="fa fa-envelope"></i>  Email: {{location.email}} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>