p{
	margin: 0;
}

.upperDiv #headinMain{
	font-weight: bolder;
}

.card-body{
	text-align: center;
}

.lowerDiv{
	margin-top: 25px;
}

.card{
	min-height: 279px;
}

.btn.btn-danger {
    margin-left: 17px;
}