<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title ">Transfer Prescription Requests</h4>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="userFilter.location" placeholder="Search by Location..." style="color: white">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th style="display: none;">
                    Id
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Details
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersTransferPrescription | filterBy: userFilter | paginate: {itemsPerPage:5, currentPage:p}">
                    <td style="display: none;">
                      {{user.tp_id}}
                    </td>
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.location}}
                    </td>
                    <td>
                      <a (click)="status(user.tp_id, user.isPublished)" routerLink="/transfer">{{user.isPublished}}</a>
                    </td>
                    <td class="text-primary">
                      <a routerLink="/showDetailTransfer/{{user.tp_id}}">View Details</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center"> 
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>