<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" *ngIf=price>
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">User Details</h4>
					<p class="card-category">Price Check Request</p>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="myLabel">Name:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control"  value=" {{price.name}}" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="myLabel">Email:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control" value=" {{price.email}}" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="myLabel">Phone:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control" value=" {{price.phone}}" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="myLabel">Location:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control" value=" {{price.location}}" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="myLabel">Medicines:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control" value=" {{price.medicines}}"  readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="myLabel">Note:</label>
									<div class="form-group">
										<label class="bmd-label-floating"></label>
										<input type="text" class="form-control" value=" {{price.note}}" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">

								<label class="myLabel">Status:</label>
								<div class="material-switch" *ngIf="price.isPublish ==0">
									<input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" (change)="status(price.pc_id, price.isPublish)"/>
									<label for="someSwitchOptionPrimary" class="label-primary"></label>								</div>

								<div class="material-switch" *ngIf="price.isPublish ==1">
									<input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" (change)="status(price.pc_id, price.isPublish)" checked="checked" />
									<label for="someSwitchOptionPrimary" class="label-primary"></label>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>