

.tabs {
	clear: both;
	position: relative; 
	/* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
	float: left;
}

.tab label {
	margin-right: 20px;
	position: relative;
	top: 0;
	cursor: pointer;
	color: #333;
}

.tab [type=radio] {
	display: none;   
}

.tab__content {
	position: relative;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.5s;
	opacity: 0;
}

[type=radio]:checked ~ label {
	color: #1d1d1d;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}

.form-control {
	height: 22px;
	width: 150px;
}

label{
	font-weight: 500;
}
.searchTab{
	float: right;
}

.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 15px;
}