<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="input-group no-border">
				<input type="text" class="form-control" [(ngModel)]="userFilter.location" placeholder="Filter by Location...">
				<button type="submit" class="btn btn-white btn-round btn-just-icon">
					<i class="material-icons">search</i>
					<div class="ripple-container"></div>
				</button>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">Price Check Requests</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class=" text-primary">
								<th style="display: none;"  >
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Phone
								</th>
								<th>
									Email
								</th>
								<th>
									Location
								</th>
								<th>
									Details
								</th>
							</thead>
							<tbody>
								<tr *ngFor="let user of usersPriceCheck | filterBy: userFilter | paginate: {itemsPerPage:5, currentPage:p, id:'ppage'}">
									<td style="display: none;">
										{{user.pc_id}}
									</td>
									<td>
										{{user.name}}
									</td>
									<td>
										{{user.phone}}
									</td>
									<td>
										{{user.email}}
									</td>
									<td>
										{{user.location}}
									</td>
									<td class="text-primary">
										<a routerLink="/showDetailPrice/{{user.pc_id}}">View Details</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div align="Center"> 
							<pagination-controls id="ppage" (pageChange)="p=$event"></pagination-controls>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Refill Prescription Requests</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class=" text-primary">
								<th style="display: none;">
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Phone
								</th>
								<th>
									Email
								</th>
								<th>
									Location
								</th>
								<th>
									Details
								</th>
							</thead>
							<tbody>
								<tr *ngFor="let user of usersRefill | filterBy: userFilter | paginate: {itemsPerPage:5, currentPage:r, id:'rpage'}">
									<td style="display: none;">
										{{user.refill_id}}
									</td>
									<td>
										{{user.name}}
									</td>
									<td>
										{{user.phone}}
									</td>
									<td>
										{{user.email}}
									</td>
									<td>
										{{user.location}}
									</td>
									<td class="text-primary">
										<a routerLink="/showDetailRefill/{{user.refill_id}}">View Details</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div align="Center"> 
							<pagination-controls id="rpage" (pageChange)="r=$event"></pagination-controls>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">Transfer Prescription Requests</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class=" text-primary">
								<th style="display: none;"  >
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Phone
								</th>
								<th>
									Email
								</th>
								<th>
									Location
								</th>
								<th>
									Details
								</th>
							</thead>
							<tbody>
								<tr *ngFor="let user of usersTransferPrescription | filterBy: userFilter | paginate: {itemsPerPage:5, currentPage:t, id:'tpage'}">
									<td style="display: none;">
										{{user.tp_id}}
									</td>
									<td>
										{{user.name}}
									</td>
									<td>
										{{user.phone}}
									</td>
									<td>
										{{user.email}}
									</td>
									<td>
										{{user.location}}
									</td>
									<td class="text-primary">
										<a routerLink="/showDetailTransfer/{{user.tp_id}}">View Details</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div align="Center"> 
                <pagination-controls (pageChange)="t=$event" id="tpage"></pagination-controls>
              </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



