<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" *ngIf=refill>
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">User Details</h4>
          <p class="card-category">Price Check Request</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="myLabel">Name:</label>
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" value="{{refill.name}}" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="myLabel">Email:</label>
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" value="{{refill.email}}"  readonly="readonly">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="myLabel">Phone:</label>
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" value="{{refill.phone}}" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="myLabel">Location:</label>
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" value="{{refill.location}}" readonly="readonly">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="myLabel">Note:</label>
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control" value="{{refill.note}}" readonly="readonly">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>Status: <a (click)="status(refill.refill_id, refill.isPublished)" routerLink="/showDetailRefill/{{refill.refill_id}}"><span style="color: #9A2AA8">{{refill.isPublished}}</span></a></h5>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
