<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title ">Refill Prescription Requests</h4>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="userFilter.location" placeholder="Search by Location..." style="color: white">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th style="display: none;"  >
                    Id
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Details
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersRefill | filterBy: userFilter | paginate: {itemsPerPage:5, currentPage:p}">
                    <td style="display: none;">
                      {{user.refill_id}}
                    </td>
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.location}}
                    </td>
                    <td>
                      <div class="material-switch" *ngIf="user.isPublish == 0">
                        <input id="{{user.refill_id}}" name="someSwitchOption001" type="checkbox" (change)="status(user.refill_id, user.isPublish)"/>
                        <label for="{{user.refill_id}}" class="label-primary"></label>
                      </div>

                      <div class="material-switch" *ngIf="user.isPublish == 1">
                        <input id="{{user.refill_id}}" name="someSwitchOption001" type="checkbox" (change)="status(user.refill_id, user.isPublish)" checked="checked"/>
                        <label for="{{user.refill_id}}" class="label-primary"></label>
                      </div>
                    </td>
                    <td class="text-primary">
                      <a routerLink="/showDetailRefill/{{user.refill_id}}">View Details</a>
                    </td>
                  </tr>
                </tbody>


              </table>
              <div align="Center"> 
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>